<div class="flexbox-container">
    <div class="flexbox-signin">
        <div class="title-signin">
            <h1>Strona główna index.js</h1>
            <h1>Zaloguj się</h1>
        </div>

        <div class="myform">
            <form action="/signin" method="POST">
                    <%- include('user/signin.ejs') %>
                    <button class="btn btn-signin" type="submit">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="logowanie-select">
    <h2>Logowanie robocze</h2>
    <select id="selectRow" name="user">
        <% users.forEach(user =>{ %>
            <option label="<%= user.login %>" value="<%= user.login %>">
                <%= user.login %>_____<%= user.password %>    
            </option>
        <% }) %>
    </select>
</div>