<h1 class="page-header">Witamy w aplikacji</h1>
<!-- <h1 class="page-header">AllSites - rekordy posiadanych haseł</h1> -->

<div class="flexbox-container">
    <% data.forEach(user =>{ %>
        <div class="form-item">
            <form action="/user/updateLoginDataView/<%=user._id.$oid%>" method="POST">
                <li>
                    <label>ID: </label>
                    <div class="form-item-value"><%= user._id.$oid %></div>
                </li>
                <li>
                    <label>Strona: </label>
                    <div class="form-item-value"><%= user.site %></div>
                </li>
                <li>
                    <label>Login: </label>
                    <div class="form-item-value"><%= user.login %></div>
                </li>
                <li>
                    <label>Siła hasła: </label>
                    <div class="form-item-value"><%= user.passwordStrength %></div>
                </li>
                <li>
                    <label>Notatka: </label>
                    <div class="form-item-value"><%= user.note %></div>
                </li>
                
                <button class="btn btn-primary" type="sumbit">Aktualizuj dane</button>
                    <a  class="btn btn-primary btn-link" href="/user/getLoginData/<%=user._id.$oid%>">Sprawdź hasło</a>
                    <a  class="btn btn-danger btn-link" href="/user/deleteLoginData/<%=user._id.$oid%>">Usuń dane</a>
            </form>
        </div>
    <% }) %>
</div>