<h1>LoginData</h1>
<h1>Pobrany rekord danych z hasłem</h1>


<div class="display-mid">
    <%- include('formData.ejs') %>
</div>
<%=// data.id %>
<%=// data.site %>
<%=// data.login %>
<%=// data.password %>
<%=// data.passwordStrength %>
<%=// data.note %>

<a href="/signin">Back to Allsites</a>