<div class="form-row">
    <div class="form-item">
        <label>Site:</label>
        <input id="site" type="text" name="site" value="<%=data.site%>" required>
    </div>
    <div class="form-item">
        <label>Login:</label>
        <input id="login" type="text" name="login" value="<%=data.login%>" required>
    </div>
    <div class="form-item">
        <label>Hasło:</label>    
        <input id="password" type="text" name="password" value="<%=data.password%>" required>
        <!-- <div>Password Strength: </div> <div id="strength"></div> -->
    </div>
    <div class="form-item">
        <label>Powtórz hasło:</label>
        <input id="password-repeat" type="text" name="password-repeat" value="<%=data.password //data.passwordRepeat%>" required>  
    </div>
    <div id="password-error"></div>
    <div class="form-item">
        <label>Notatka:</label>
        <input id="note" type="text" name="note" value="<%=data.note%>" required>
    </div>
</div>